.azure-pipelines
.eslintignore
.vscode/**
.vscode-test/**
node_modules/**
# Included as it cannot be packed.
!node_modules/ms-rest
out/test/**
samples/**
src/**
.gitignore
vsc-extension-quickstart.md
webpack.config.js
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts