.azure-pipelines
.eslintignore
.vscode/**
.vscode-test/**
node_modules/**
out/**
samples/**
src/**
.gitignore
vsc-extension-quickstart.md
webpack.config.ts
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts